In [1]:
import merlin.models.tf as ml
from merlin.models.data.synthetic import SyntheticData

music_data = SyntheticData("music-streaming")

music_data.dataframe

2022-02-17 10:39:50.372430: I tensorflow/core/platform/cpu_feature_guard.cc:151] This TensorFlow binary is optimized with oneAPI Deep Neural Network Library (oneDNN) to use the following CPU instructions in performance-critical operations:  AVX2 FMA
To enable them in other operations, rebuild TensorFlow with the appropriate compiler flags.
2022-02-17 10:39:51.892410: I tensorflow/core/common_runtime/gpu/gpu_device.cc:1525] Created device /job:localhost/replica:0/task:0/device:GPU:0 with 46352 MB memory:  -> device: 0, name: NVIDIA RTX A6000, pci bus id: 0000:01:00.0, compute capability: 8.6
2022-02-17 10:39:51.893841: I tensorflow/core/common_runtime/gpu/gpu_device.cc:1525] Created device /job:localhost/replica:0/task:0/device:GPU:1 with 46363 MB memory:  -> device: 1, name: NVIDIA RTX A6000, pci bus id: 0000:21:00.0, compute capability: 8.6

,session_id,user_id,country,user_age,user_genres,item_id,item_category,item_recency,item_genres,click,like,position,play_percentage
0,35,4,2,1,"[26, 98, 53, 29, 92, 26, 78, 61, 61, 65, 15, 6...",17,8,0.786646,"[46, 41, 42, 94, 73, 1, 91, 96, 84, 58, 42, 13...",0,1,80,0.0
1,33,8,4,2,"[72, 31, 9, 39, 73, 3, 36, 71, 92, 25, 63, 61,...",23,10,0.745052,"[42, 72, 18, 79, 51, 66, 71, 79, 18, 18, 21, 5...",1,0,66,0.0
2,4,16,8,4,"[1, 96, 50, 26, 99, 64, 57, 75, 94, 45, 10, 8,...",33,15,0.321432,"[56, 15, 22, 71, 74, 28, 33, 97, 68, 35, 15, 7...",1,0,15,0.0
3,25,16,8,4,"[67, 72, 48, 19, 83, 71, 49, 15, 1, 26, 34, 54...",8,3,0.668958,"[71, 37, 73, 99, 56, 34, 9, 42, 73, 88, 53, 5,...",1,0,11,0.0
4,29,35,18,9,"[55, 29, 84, 10, 18, 89, 84, 86, 75, 72, 74, 5...",26,12,0.537415,"[74, 9, 8, 98, 94, 26, 8, 17, 97, 70, 75, 81, ...",0,1,51,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,19,156,81,40,"[34, 68, 66, 20, 8, 66, 40, 37, 25, 96, 47, 44...",27,12,0.466365,"[49, 20, 26, 10, 97, 86, 79, 75, 20, 39, 14, 1...",0,0,8,0.0
96,20,17,9,5,"[66, 51, 62, 63, 11, 31, 40, 79, 32, 97, 39, 5...",5,2,0.137007,"[53, 79, 51, 62, 79, 57, 54, 36, 75, 94, 38, 8...",1,0,94,0.0
97,17,3,2,1,"[8, 16, 81, 15, 26, 75, 94, 83, 77, 87, 3, 3, ...",90,42,0.950070,"[54, 22, 17, 92, 71, 97, 37, 3, 41, 85, 93, 20...",1,0,53,0.0
98,40,10,5,3,"[86, 82, 93, 81, 41, 56, 84, 91, 11, 98, 48, 5...",3,1,0.256286,"[3, 87, 39, 22, 86, 44, 92, 49, 47, 77, 79, 17...",1,1,44,0.0
99,91,8,4,2,"[80, 85, 65, 13, 23, 83, 34, 93, 9, 46, 78, 9,...",10,4,0.291558,"[25, 90, 17, 90, 9, 54, 89, 76, 49, 49, 1, 67,...",0,1,41,0.0

## Retrieval

In [2]:
retrieval_model = ml.TwoTowerModel(music_data.schema, query_tower=ml.MLPBlock([512, 256]))

retrieval_model.compile(optimizer="adam", run_eagerly=True)
retrieval_model.fit(music_data.tf_dataloader(batch_size=50), epochs=2)

print(f"Number of parameters: {retrieval_model.count_params()}")

Epoch 1/2

2022-02-17 10:39:56.968088: W tensorflow/python/util/util.cc:368] Sets are not currently considered sequences, but this may change in the future, so consider avoiding using them.
2022-02-17 10:39:57.905631: I tensorflow/stream_executor/cuda/cuda_blas.cc:1774] TensorFloat-32 will be used for the matrix multiplication. This will only be logged once.

WARNING:tensorflow:AutoGraph could not transform <bound method Socket.send of <zmq.Socket(zmq.PUSH) at 0x7fa17c6cf100>> and will run it as-is.
Please report this to the TensorFlow team. When filing the bug, set the verbosity to 10 (on Linux, `export AUTOGRAPH_VERBOSITY=10`) and attach the full output.
Cause: module, class, method, function, traceback, frame, or code object was expected, got cython_function_or_method
To silence this warning, decorate the function with @tf.autograph.experimental.do_not_convert
WARNING: AutoGraph could not transform <bound method Socket.send of <zmq.Socket(zmq.PUSH) at 0x7fa17c6cf100>> and will run it as-is.
Please report this to the TensorFlow team. When filing the bug, set the verbosity to 10 (on Linux, `export AUTOGRAPH_VERBOSITY=10`) and attach the full output.
Cause: module, class, method, function, traceback, frame, or code object was expected, got cython_function_or_method
To silence this warning, decorate the function with @tf.autograph.experimental.do_not_convert

The sampler InBatchSampler returned no samples for this batch.

2/2 [==============================] - 4s 202ms/step - ndcg_at_1_10: 0.0818 - ndcg_at_1_20: 0.1347 - recall_at_1_10: 0.1733 - recall_at_1_20: 0.3800 - avg_precision_at_1_10: 0.0543 - avg_precision_at_1_20: 0.0692 - loss: 3.8906 - regularization_loss: 0.0000e+00 - total_loss: 3.8906
Epoch 2/2
2/2 [==============================] - 0s 197ms/step - ndcg_at_1_10: 0.3223 - ndcg_at_1_20: 0.3710 - recall_at_1_10: 0.5067 - recall_at_1_20: 0.7000 - avg_precision_at_1_10: 0.2664 - avg_precision_at_1_20: 0.2796 - loss: 3.8514 - regularization_loss: 0.0000e+00 - total_loss: 3.8514
Number of parameters: 421682

## Ranking

In [3]:
ranking_model = ml.DLRMModel(
    music_data.schema,
    embedding_dim=64,
    bottom_block=ml.MLPBlock([64]),
    top_block=ml.MLPBlock([32])
)

ranking_model.compile(optimizer="adam", run_eagerly=True)
ranking_model.fit(music_data.tf_dataloader(batch_size=50), epochs=2)

print(f"Number of parameters: {ranking_model.count_params()}")

Epoch 1/2
2/2 [==============================] - 0s 45ms/step - click/binary_classification_task/precision: 0.5263 - click/binary_classification_task/recall: 0.9615 - click/binary_classification_task/binary_accuracy: 0.5300 - click/binary_classification_task/auc: 0.5325 - like/binary_classification_task/precision: 0.0000e+00 - like/binary_classification_task/recall: 0.0000e+00 - like/binary_classification_task/binary_accuracy: 0.5400 - like/binary_classification_task/auc: 0.4960 - play_percentage/regression_task/root_mean_squared_error: 157.5840 - loss: 10030.4986 - regularization_loss: 0.0000e+00 - total_loss: 10030.4986
Epoch 2/2
2/2 [==============================] - 0s 44ms/step - click/binary_classification_task/precision: 0.5376 - click/binary_classification_task/recall: 0.9615 - click/binary_classification_task/binary_accuracy: 0.5500 - click/binary_classification_task/auc: 0.5254 - like/binary_classification_task/precision: 0.0000e+00 - like/binary_classification_task/recall: 0.0000e+00 - like/binary_classification_task/binary_accuracy: 0.5400 - like/binary_classification_task/auc: 0.5068 - play_percentage/regression_task/root_mean_squared_error: 74.0623 - loss: 1298.9336 - regularization_loss: 0.0000e+00 - total_loss: 1298.9336
Number of parameters: 2004483