In [4]:
import merlin_models.tf as ml
from merlin_models.data import SyntheticDataset

ecommerce_data = SyntheticDataset.create_ecommerce_data()

df = ecommerce_data.dataframe()
df

,user_id,user_categories,user_shops,user_brands,user_intentions,user_profile,user_group,user_gender,user_age,user_consumption_1,user_consumption_2,user_is_occupied,user_geography,item_id,item_category,item_shop,item_intention,item_brand
0,29,251,4800,2386,1390,4,1,1,1,1,1,1,1,22,283,19929,3174,6864
1,24,206,3943,1960,1142,4,1,1,1,1,1,1,1,62,822,57888,9218,19936
2,67,590,11315,5623,3275,10,2,1,1,1,1,1,1,4,41,2847,454,981
3,7,54,1029,512,298,1,1,1,1,1,1,1,1,6,68,4745,756,1635
4,5,36,686,341,199,1,1,1,1,1,1,1,1,40,526,37011,5894,12746
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,5,36,686,341,199,1,1,1,1,1,1,1,1,8,95,6643,1058,2288
996,25,215,4115,2045,1191,4,1,1,1,1,1,1,1,37,485,34164,5440,11766
997,9,72,1372,682,397,2,1,1,1,1,1,1,1,35,458,32266,5138,11112
998,4,27,515,256,149,1,1,1,1,1,1,1,1,7,81,5694,907,1961
999,23,197,3772,1875,1092,4,1,1,1,1,1,1,1,6,68,4745,756,1635

In [9]:
# Retrieval
body = ml.TwoTowerBlock(ecommerce_data.schema, query_tower=ml.MLPBlock([512, 256]))


params = body.count_params()

ValueError: You tried to call `count_params` on parallel_block_4, but the layer isn't built. You can build it manually via: `parallel_block_4.build(batch_input_shape)`.

In [ ]:
# data = music_streaming.generate_interactions(num_rows=1000)

dataset = ecommerce_data.get_tf_dataloader()

for i in dataset:
    print(i)
    break


a = 5